body {
	font-family: monospace;
}

.cint {color: blue;}
.cdbl {color: blue;}
.cbool {color: magenta;}
.cstr {color: burlywood;}
.ccust {color: black;}

.reqrd {color: deeppink;} 
.optnl {color: blueviolet;}

.code {font-size: 0.75em !important;}

.cuscode {
	line-height: 30px;
	font-size: large;
	border-radius: 3px;
	border-style: double;
	padding: 0px 68px;
}

table {border-collapse: collapse;}
tr {border-bottom: 1px solid grey;}
tr:last-child {border-bottom: none;}

.steplbls {float: right; border:1px dotted black;}

.boxy {
	width: 22%;
	height: 18px;
	border: 1px solid black;
	text-align: center;
	padding-top: 2px;
	margin-bottom: 7px;
}
