body {
	font-family: monospace;
}

.optg {
	border: 1px solid grey;
	padding: 7px 4px;
}

.chkbx {
	margin-left: 0;
	vertical-align: middle;
}
.chkbx2 {
	margin: 0;
	vertical-align: middle;
}
.chkbx3 {
	margin: 0;
	vertical-align: text-bottom;
}
.chkbx4 {
	width: 100%;
	/* font-size: x-small; */
}

.tiny {
	font-size: x-small;
}
.tinybtn {
	font-size: x-small;
	padding: 0 2px;
}

.cint {color: blue;}
.cdbl {color: blue;}
.cbool {color: magenta;}
.cstr {color: burlywood;}
.ccust {color: black;}

.reqrd {color: deeppink;} 
.optnl {color: blueviolet;}

.code {font-size: 0.75em !important;}

.cuscode {
	line-height: 30px;
	font-size: large;
	border-radius: 3px;
	border-style: double;
	padding: 0px 68px;
}


tr {border-bottom: 1px solid grey;}
tr:last-child {border-bottom: none;}

.steplbls {float: right; border:1px dotted black;}

.boxy1 {
	width: 22%;
	height: 18px;
	border: 1px solid black;
	text-align: center;
	padding-top: 2px;
	margin-bottom: 7px;
}
.boxy {
	border: 1px solid black;
	text-align: center;
	padding: 1px 8px;
}



.dum {
	background: yellow;
	background: gold;
	background: khaki;
	background: navajowhite;
	background: palegoldenrod;
	background: moccasin;
	background: wheat;
	background: tan;
	background: darkkhaki;
	background: lemonchiffon;
	background: lightgoldenrodyellow;
	background: lightyellow;
	background: papayawhip;
	background: peachpuff;
	background: sandybrown;

	background: lightblue;
	background: lightskyblue;
	background: mediumaquamarine;
	background: mediumturquoise;
}

